<h1 class="text-center">Questions Section</h1>
<hr>
<button [routerLink]="['/admin/add']" class="btn btn-primary">Click here to add New Questions</button>
<hr>
<h2 class="text-center">List Of Questions</h2>

<div *ngFor="let question of questions.questions | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
  {{i+1}} . {{ question.name }}
  <div *ngFor="let option of question.options">
    <input type="checkbox" value="{{option.name}}" disabled [checked]="option.isAnswer"> {{option.name}}
  </div>
</div>
<pagination-controls class="text-center" (pageChange)="p = $event"></pagination-controls>